
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

img{
    max-width: 100%;
}
@font-face {
    font-family: Chelantro;
    src: url(/fonts/Chelantro.otf);
    src: url(/fonts/Chelantro.ttf);
    src: url(/fonts/Chelantro.woff);
    src: url(/fonts/Chelantro.woff2)
    
}
@font-face {
    font-family: Regad;
    font-family: Konichiwa;
    src: url(/fonts/Konichiwa.ttf);
    src: url(/fonts/Regad.ttf);
}


.completo{
    padding-top: 10px;
    height: 100vh;
    width: 100%;
    
    
}
.site-header{
    height: 100vh;
    background: url(../img/fondo1-700x1334.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bread{
    width: 55%;
    text-align: center;
    

    
}

.texto{
    color: rgb(94, 99, 70);
    text-decoration-color: unset;
    display: inline-block;
    justify-content: center;
    text-align: center;
    
}

.title{
    margin: 0;
    color:#fff8e7 ;  
    font-family: "Chelantro", sans-serif;
    font-size: 6rem;
    text-decoration-color: rgb(208, 212, 191);
    letter-spacing: 0.6rem;
    
    
    
}

.cta{
    width: 50%;
    text-align: center;
    display: inline;
    border: 1px solid #000;
    border-radius: 30px;
    background: #f51e0e;
    padding: 0 25px 3px;
}
.cta:hover{
    background: wheat;
    color: #000;
    cursor: pointer;
}
  
 
.imagenes{
    height: 100%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: imagenes 5s  infinite running alternate-reverse linear ;
    
}
    @media (min-width: 748px){
        .imagenes{
            display:flex;
        }
    }

@keyframes imagenes{
    0%{
            
        height: 100%;
        background: url(../img/fondo2-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    20%{
        height: 100%;
        border: 1px solid #000;
        background: url(../img/fondo3-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
           
    }
    40%{
        height: 100%;
        border: 1px solid #000;
        background: url(../img/fondo4-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
            
        }
    60%{
        height: 100%;
        border: 1px solid #000;
        background: url(../img/fondo5-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    80%{
        height: 100%;
        background: url(../img/fondo6-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{
        height: 100%;
        background: url(../img/fondo7-700x1334.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
}